#nav-logo{
  width: 90px;
  height: 40px;
  background-image: url('src/assets/images/pestagone_logo.jpg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}